body {
	background-color: rgb(185 180 180);
}

.lines {
	border: 2px solid rgb(0, 116, 0);
	border-radius: 5px;
}

p {
	color: black;
	font-family: "Ubuntu", sans-serif;
	font-size: 30px;
}

h1 {
	color: black;
	font: 1.3rem Inconsolata, monospace;
}

#lens1 {
	border-radius: 50px;
	padding: 20px;
	width: 200px;
	height: 200px;
}

#lens2 {
	border-radius: 200px;
	padding: 20px;
	width: 200px;
	height: 200px;
}

#googlink a:link,
a:visited {
	color: blue;
	font-size: 20px;
	text-decoration: underline;
	text-align: left;
	padding: 10px 10px;
	display: inline;
	position: relative;
	transition: all 0.3s ease;
	border-style: solid;
	color: blue;
}

#googlink a:hover,
a:active {
	color: blue;
	background-color: rgb(255, 255, 255);
}

#googlink a:hover::before {
	right: 0;
	left: 0;
}

#divbox {
	background-color: darkblue;
	color: aliceblue;
	border-radius: 25px;

	border: 2px solid #000000;
	padding: 20px;
	width: 200px;
	height: 150px;
}

#divtext {
	font-size: 30px;
	text-align: center;
	width: 100%;
	height: 30%;
}
